<html>
<head>

	<link rel="stylesheet" href="css/styles.css">
		
	<style>
	@import url('https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap');
	</style>
	
 <title>Bacaro Grats Manager</title>
</head>
<body>
  <div>
      #parse("/fragments/header.vm")
  </div>
  
  
  <div>
  
    <!-- View index.vm is inserted here -->
    $screen_content
 
  </div>
  
  <div>
      #parse("/fragments/footer.vm")
  </div>
</body>
</html>