    
    #foreach( $payment in $payments )
    <div class="employeePage">
    	<img src="/bacaro/logo.png" class="logo" style="position:absolute">
    	<div class="employeeInset" style="margin-left:20%">
    	<h3>$payment.getFirstName() $payment.getLastName()</h3>
    	<br />
    	<table class="earningsTable">
    		<tr><th>Work date</th><th>Earnings Share</th></tr>
    		#foreach($earning in $payment.getEarnings())
    			<tr>
    			<td style="text-align:center">$date.format('dd MMM yyyy', $earning.getEarningDate())</td>
    			<td style="text-align:right">$number.format('$#,##0.00', $earning.getEarningAmount())</td>
    			</tr>
    		#end
    	</table>
    	<br />
    	<div>Employee pension contribution 
    	#if($payment.getPensionEmployee()) 
    		$number.format('$#,##0.00',$payment.getPensionEmployee())
    	#end
    	</div><br />
    	<div>Employer pension contribution 
    	#if($payment.getPensionEmployer()) 
    		$number.format('$#,##0.00',$payment.getPensionEmployer())
    	#end</div><br />
    	<br />
    	<b><div>Net Pay 
    	#if($payment.getNetPay()) 
    		$number.format('$#,##0.00',$payment.getNetPay())
    	#end
    	</div></b><br />
    	</div>
    	<div class="copyright" style="font-size:8px">
    		
			<center>
   				Processing software copyright Tiggit Software Ltd., 2019. All rights reserved.
   			</center>
   			
		</div>
    </div>
    #end
    
    
    <BR/>
